<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Ataque</th>
            <th>Defensa</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pokemon of pokemonList">
            <td>{{pokemon.name}}</td>
            <td class="text-center"><img [src]="pokemon.image" [alt]="pokemon.id + '-' + pokemon.name" width="30"></td>
            <td class="text-right">{{pokemon.attack}}</td>
            <td class="text-right">{{pokemon.defense}}</td>
            <td>
                <button class="btn btn-link" (click)="showEditCard(pokemon)"><i class="icon icon-edit"></i></button>
                <button class="btn btn-link"><i class="icon icon-delete"></i></button>
            </td>
        </tr>
    </tbody>
</table>
