<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Ataque</th>
            <th>Defensa</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ivysaur</td>
            <td>img</td>
            <td>65</td>
            <td>38</td>
            <td>
                <button class="btn btn-link"><i class="icon icon-edit"></i></button>
                <button class="btn btn-link"><i class="icon icon-delete"></i></button>
            </td>
        </tr>
    </tbody>
</table>
