.card {
    border: 1px solid rgb(160, 160, 160);
    width: 100%;
    padding: 10px 10px;
}

.card .card-title {
    text-align: center;
    padding: 10px 0px;
}

.card .card-body {
    padding: 10px 0px;
}
