<div class="card">
    <div class="card-title">
        <h4 class="mt-1 mb-1">{{pokemon ? 'Editar' : 'Nuevo'}} Pokemon</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <table class="table table-no-border">
                    <tbody>
                        <tr>
                            <td><label for="">Nombre: </label></td>
                            <td><input type="text" class="input-field"></td>
                        </tr>
                        <tr>
                            <td><label for="">Imagen: </label></td>
                            <td><input type="text" class="input-field"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <table class="table table-no-border">
                    <tbody>
                        <tr>
                            <td><label for="">Ataque: </label></td>
                            <td><input type="range" class="range-width"></td>
                        </tr>
                        <tr>
                            <td><label for="">Defensa: </label></td>
                            <td><input type="range" class="range-width"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 text-center">
                <button class="btn btn-blue"><i class="icon icon-save icon-white"></i> Guardar</button> &nbsp;
                <button class="btn btn-blue" (click)="hideCard()"><i class="icon icon-cancel icon-white"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>
